header {
    background-color:#283149 ;
        padding: 20px;
      }
     
      nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      
      nav ul li {
        display: inline-block;
        margin-right: 20px;
      }
      
      nav ul li a {
        color: white;
        text-decoration: none;
        font-weight: bold;
      }
      nav img{
        width: 12vw;
        height: 6vh;
        position: absolute;
        left: 85%;
        top: 2%;
      }
    .veliki-div{
        background-color: #EAE6E5;
        width: 100%;
        height: auto;
    }

      .smestaj {
        display: flex;
        flex-wrap: wrap;
        margin: 0px;
      }
      
      .smestaj .smestaj-item {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 40px;
      }
      
      .smestaj .smestaj-item img {
        width: 300px;
        height: 250px;
        margin-right: 20px;
      }
      
      .smestaj .smestaj-item h3,
      .smestaj .smestaj-item p {
        margin: 0;
        font-size: 15px;
      }
      .meni {
        margin-top: 20px;
      }
      
      .meni h3 {
        font-size: 24px;
      }
      
      .meni img {
        width: 500px;
        height: auto;
      }
     
      .restoran img {
        display: inline-block;
        width: 333.3px;
        height: auto;
        margin-right: auto;
        margin-left: auto;
      position: relative;
      left: 3.5%;
      }
      
      .restoran p{
        font-size: 20px;
      }
      .spa {
        margin: 20px;
      }
      
      .spa h3 {
        font-size: 24px;
        font-weight: bold;
      }
      
      .spa p {
        margin-bottom: 10px;
      }
      
      .spa-section {
        display: flex;
        align-items: flex-start;
        margin-bottom: 20px;
      }
      
      .spa-section img {
        width: 270px;
        margin-right: 20px;
      }
    
      footer {
        background-color:#283149;
        padding: 20px;
        color: white;
      }
      
      .footer-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        
      }
    
    .footer-social a i.fab {
        color:white;
        margin-right: 30px;
        width: 40%;
        height: 40%;
        position: relative;
        right: 100%;
    
        padding: 15px;
        font-size: 35px;
    
    }
      
      
          